[gcode_macro PRINT_START]
variable_bedtemp: 0
gcode:
	# Parameters
	{% set bed = params.BED|int %}
	{% set hotend = params.HOTEND|int %}

    BLTOUCH_DEBUG COMMAND=reset									# reset bltouch errors		
    BED_MESH_CLEAR
    SET_DISPLAY_TEXT MSG="Bed: {bed}c"                         # Displays info
    M190 S{bed}                                                # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5min"                       # Displays info
    G4 P300000                                                 # Waits 5 min for the bedtemp to stabilize
    SET_DISPLAY_TEXT MSG="Hotend: 140c"                        # Displays info
    M109 S140                                                  # Heats the nozzle to 150c
    BED_MESH_PROFILE LOAD=default
    SET_DISPLAY_TEXT MSG="Bed mesh"                            # Displays info
	BED_MESH_CALIBRATE											# generate bed mesh
    SET_DISPLAY_TEXT MSG="Hotend: {hotend}c"                   # Displays info
    G1 X0.1 Y20 Z25 F36000                                     # Goes to center of the bed
    M107                                                       # Turns off partcooling fan
    M109 S{hotend}                                             # Heats the nozzle to printing temp
    VORON_PURGE                                                # Purge Nozzle
    SET_DISPLAY_TEXT MSG="Printer goes brr"                    # Displays info


[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

[gcode_macro PRINT_PRIME_LINE]
#Prints priming line
gcode:
    G92 E0                              						# Reset Extruder
	G1 Z2.0 F3000 												# Move Z Axis up little to prevent scratching of Heat Bed
	G1 X10 Y20 Z0.3 F5000.0 									# Move to start position
	G1 X10 Y200.0 Z0.3 F1500.0 E15  							# Draw the first line
	G1 X10.35 Y200.0 Z0.3 F5000.0 								# Move to side a little
	G1 X10.35 Y30 Z0.3 F1500.0 E28.33 							# Draw the second line (minus 1CM)
	G92 E0                              						# Reset Extruder
	G1 Z0.5 F3000                       						# Move Z Axis up little to prevent scratching of Heat Bed
	
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
	M400                           								# wait for buffer to clear
	G92 E0                         								# zero the extruder
	G91                            								# relative positioning
    M107                           								# turn off fan
    G1 Z5 E-0.5 F3000             								# move nozzle up 5mm & retract filament
    G90                            								# absolute positioning
    G0 X0 Y230 F36000           								# park nozzle at rear
	TURN_OFF_HEATERS

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 0.5
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_minimum.x|float + 10.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 10.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro _HOME_X]
gcode:
    {% set HOME_CUR = 1.060 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X
    # Move away
    G90
    G1 X5 F36000
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[gcode_macro _HOME_Y]
gcode:
    {% set HOME_CUR = 1.060 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 Y
    # Move away
    G90
    G1 Y5 F36000
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}